<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Sign up</h2>
	</div>
	
	<div class="panel-body">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		  	<%= f.label :email %>
			  <%= f.email_field :email, autofocus: true, class: "form-control" %>
			</div>

		  <div class="form-group">
		  	<%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
		  </div>

		  <div class="form-group">
		  	<%= f.submit "Sign up", class: "btn btn-primary" %>
		  </div>
		<% end %>

	<%= render "devise/shared/links" %>
	</div>
</div>
